body {
  background-color: black;
  min-width: 260px;
}


p {
  width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
    Text-indent: 50px;
}
#main {
  margin:20px auto;
  padding:15px;
  background-color: #191919;
}
#img-div {
  background-color:#000000;
  
}
#image {
 display: block;
    padding-top:50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width:100%;
}

h3 {
  text-align: center;
  border-bottom: 1px solid;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  
}
.white-text {
  font-family: arial;
  color: white;
  text-align: center;
}
.gray-text {
    font-family: arial;
    color: #b2b2b2;
    text-align: center;
  }